.ds-catalog-section-comments {
    padding-bottom: 25px;
    background-color: var(--ds-color-bg-secondary);
}

.ds-talk {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font-size: 20px;
    font-weight: 700;
    color: var(--ds-color-font-secondary);
}

@media (min-width: 1200px) {
    .ds-talk {
        font-size: 32px;
    }
}